* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#survey-form {
    width: 400px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background-color: wheat;
    border-radius: 30px;
    margin-top: 30px;
}

.div-form {
    
    height: 100vh;
}

form label {
    margin: 20px 10px 9px;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 3px;
}

form input {
    width: 350px;
    height: 25px;
    border-radius: 4px;
    border: none;
    border-bottom: solid 2px blue;
    text-indent: 10px;
}

.div-title {
    display: inline-block;
    width: 100%;
    background-color: rgb(35, 51, 75);
}

.title {
    text-align: center;
    padding: 70px;
    color: white;
    font-size: 55px;
}